<!--     <html>
       <body>
       
          <form action = "result" method = "POST">
             <p>Username <input type = "text" name = "Userame" /></p>
             <p>Father's Name <input type = "text" name = "Father's Name" /></p>
             <p>Mother's Name <input type = "text" name = "Mother's Name" /></p>
             <p>Email Id <input type="password" name="Password" /></p>
             <p><input type = "submit" value = "submit" /></p>
          </form>
          
       </body>
    </html>
 -->

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Form</title>
	<link rel="stylesheet" href="/static/style.css">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap.min.css">

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/jquery.min.js"></script>

</head>
<body>

	<header>
		<div class="container">
        <p>Login page using HTML, CSS, Bootstrap, flask and Python</p>
    	</div>
    </header>

	<div class="container">
		<form action = "result" method = "POST">
			<div class="login-box">
				<h1>Login</h1>
				<div class="textbox">
					<i class="fa fa-user" aria-hidden="true"></i>
					<!-- <p>Username <input type = "text" name = "Userame" /></p> -->
					<input type = "text" name = "Username" />
				</div>

				<div class="textbox">
					<i class="fa fa-lock" aria-hidden="true"></i>
					<!-- <p>Password <input type="password" name="Password" /></p> -->
					<input type="password" name="Password" />
				</div>
					<p><input type = "submit" value = "Sign in" /></p>
			</div>
		</form>	
 	</div>
	<footer>
      <div class="container">
        <p>Made by: Dipanshi Srivastava</p>
      </div>
    </footer>

</body>
</html>


<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login Form</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<form action = "result" method = "POST">
	<div class="login-box">
		<h1>Login</h1>
		<div class="textbox">
			<i class="fa fa-user" aria-hidden="true"></i>
			<input type="text" placeholder="Username" name="" value="">
		</div>

		<div class="textbox">
			<i class="fa fa-lock" aria-hidden="true"></i>
			<input type="password" placeholder="Password" name="" value="">
		</div>
		<input class="btn" type="button" name="" value="Sign in">
	</div>
	</form>
</body>
</html> -->